{% extends "base.html.twig" %}
{% set menu = 'home' %}

{% block content %}

<div class="ui container">
  <h2>{{ "currently.playing"|trans }}</h2>

  {% if current %}
    <div class="ui very relaxed items">
      <div class="item">
        <div class="rounded large image">
          <img src="{{ current.image?:asset('img/album_placeholder.png') }}">
        </div>
        <div class="content">
          <a class="header">{{ current.title }}</a>
          <div class="meta">
            <i class="user circle icon"></i> {{ current.artist?:("artist.unknown"|trans) }}
          </div>
          <div class="meta">
            <i class="music grey icon"></i> {{ current.album?:("album.unknown"|trans) }}
          </div>
          <div class="extra">
            <div class="ui right floated mini primary button">
              {{ "see.on.tuneefy"|trans }}
              <i class="right chevron icon"></i>
            </div>
            <i class="green time icon"></i> {{ current.startedAt|date("H:i") }}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <em>{{ "no.currently.playing"|trans }}</em>
  {% endif %}
</div>

<div class="ui container">
  <h2>{{ "last.tracks"|trans }}</h2>

  <div class="ui four doubling music cards">
    {% for track in lastTracks %}
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">{{ "see.on.tuneefy"|trans }}</div>
            </div>
          </div>
        </div>
        <img src="{{ track.image?:asset('img/album_placeholder.png') }}">
      </div>
      <div class="content">
        <a class="header">{{ track.title }}</a>
        <div class="meta">
          <div class="artist"><i class="user blue circle icon"></i> {{ track.artist?:("artist.unknown"|trans) }}</div>
          <div class="album"><i class="music blue icon"></i> {{ track.album?:("album.unknown"|trans) }}</div>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="time icon"></i> {{ track.startedAt|date("H:i") }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="ui active centered inline loader"></div>

</div>
</div>

{% endblock %}