{% extends "base.html.twig" %}

{% block content %}
HOME

<ul>
{% for track in tracks %}
  <li>
    {{ track.startedAt|date() }}
    <img src="{{ track.image }}" />
    {{ track.title }}
    {{ track.album }}
    {{ track.artist }}
  </li>
{% endfor %}
</ul>

{% endblock %}