{% extends "base.html.twig" %}
{% set menu = 'home' %}

{% block content %}

<div class="ui container current">
  <h2>{{ "currently.playing"|trans }}</h2>

  <div class="ui segment basic one column centered grid">
  {% if current %}
    <div class="ui very relaxed items">
      <div class="item">
        <div class="rounded large image">
          <img src="{{ current.image?:asset('img/album_placeholder.png') }}">
        </div>
        <div class="content">
          <a class="header">{{ current.title?:("unknown.title"|trans) }}</a>
          <div class="meta">
            <i class="user circle icon"></i> {{ current.artist?:("unknown.artist"|trans) }}
          </div>
          <div class="meta">
            <i class="music grey icon"></i> {{ current.album?:("unknown.album"|trans) }}
          </div>
          <div class="meta">
            {% if current.tuneefyLink %}
            <a href="{{ current.tuneefyLink }}" class="ui mini primary button">
              <i class="sound ui icon"></i>
              {{ "see.on.tuneefy"|trans }}
            </a>
            {% else %}
            <button class="ui mini primary button disabled">
              <i class="meh icon"></i> {{ "no.tuneefy.result"|trans }}
            </button>
            {% endif %}
          </div>
          <div class="extra">
            <i class="green time icon"></i> {{ "onair.title"|trans }} {% if current.startedAt|date("d") == "now"|date('d') %}{{ "today"|trans }}{% else %}{{ "onair.onthe"|trans }} {{ current.startedAt|date("d/m") }}{% endif %} {{ "onair.at"|trans }} {{ current.startedAt|date("H:i") }}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <em>{{ "no.currently.playing"|trans }}</em>
  {% endif %}
  </div>

</div>

<div class="ui container">
  <h2>{{ "last.tracks"|trans }}</h2>

  <div class="ui four doubling music cards">
    {% include 'home.items.html.twig' %}
  </div>

  <div id="loader" data-href="{{ path('home') }}" class="ui active centered inline loader"></div>

</div>
</div>

{% endblock %}