{% extends "base.html.twig" %}
{% set menu = 'about' %}

{% block content %}

<div class="ui container">
  <h2>{{ "about.title"|trans }}</h2>

  <h3>Vous aimez RadioMeuh ? Moi oui 😍 !</h3>

  <p>Et comme ils passent quotidiennement du son de <strong>très bonne qualité</strong>, j'ai voulu sauvegarder leurs choix musicaux et permettre à tout le monde de retrouver les titres passés sur la radio, en dehors des dix derniers titres déjà disponibles (<a href="http://player.radiomeuh.com/playlist/">ici</a>).</p>

  <p>Pour chaque titre, une recherche est faite sur <a href="https://tuneefy.com" target="_blank">Tuneefy</a> pour trouver la piste sur les plateformes de streaming, vente en ligne et scrobbling actuelles (<em>Tuneefy supporte actuellement les services suivants : Spotify, Deezer, Last.fm, Soundcloud, Tidal, Groove Music, Amazon Music, Youtube, Mixcloud, iTunes, Qobuz, Napster, Google Play Music</em>).</p>

  <p>Chaque titre renvoie également sur une page <a href="https://musicbrainz.org/" target="_blank">MusicBrainz</a> de recherche sur l'artiste, si jamais vous voulez en savoir plus.</p>

  <p>Si le titre est trouvé, la pochette est ajoutée, ainsi qu'un lien direct vers la page de partage Tuneefy — <strong>super pratique</strong> !</p>

  <div class="ui teal message">
    <div class="header">
        <i class="ui icon info circle"></i> Des fois ...
    </div>
    <p>... il y a des ratés ! Comme RadioMeuh aime nous passer des pépites quelquefois introuvables sur les Internets, il se peut que la recherche fasse ressortir un titre différent, voire n'aboutisse pas. C'est cependant plutôt rare ;). Généralement, au moins Last.fm et Soundcloud sont présents.</p>
  </div>

  <h3>Filtres</h3>

  <p>Les podcasts ou émissions ne sont pas pris en compte sur <a href="http://timeuh-machine.com">timeuh-machine.com</a>, cela n'aurait pas trop de sens - je me concentre sur les titres musicaux. Mais retrouvez tous les podcasts de RadioMeuh <a href="http://www.radiomeuh.com/category/podcasts/">là</a>.</p>

<!--
  <h3>Archives</h3>

  <p>Les archives contiennent la liste de tous les titres, par année, mois et par jour. Il y en a beaucoup, donc la navigation est un peu fastidieuse pour le moment.</p>

  <h3>Playlist Spotify automatiques</h3>

  <p>Pour chaque mois et chaque jour dans les archives, vous avez la possibilité de créer automatiquement <strong>la playlist Spotify correspondante</strong>. Tous les titres ne sont pas forcément présents : seuls ceux dont une version a été trouvée sur Spotify seront ajoutés, bien évidemment.</p>

  <p>Intelligent : si vous créez la playlist du mois de Septembre en cours de mois, vous pouvez recliquer sur le bouton par la suite : cela ajoutera les pistes manquantes sans créer de doublons dans votre playlist ! Wow !</p>
-->

  <a href="{{ website_link }}" class="ui button green"><i class="ui icon external square"></i> {{ "about.website.open"|trans }}</a>
  <a href="{{ player_link }}" class="ui button teal"><i class="ui icon music"></i> {{ "about.player.open"|trans }}</a>
  <a href="http://www.radiomeuh.com/faites-un-don/" class="ui button blue"><i class="ui icon dollar"></i> {{ "about.donate"|trans }}</a>

  <h3>Légal</h3>

  <p>Tu es de RadioMeuh ? J'ai fait un truc qui fallait pas faire ? Vraiment le logo ca va pas du tout, <strong>je dois l'enlever</strong> ? Les huissiers arrivent ? Aucun souci, je suis dispo pour en parler : <a href="mailto:tchap[at]tchap[dot]me">mail</a></p>

  <h3>Open source</h3>

  <p>Tu es développeur et tu veux aider / améliorer ce site ? C'est par là : <a href="https://github.com/tchapi/timeuh-machine">https://github.com/tchapi/timeuh-machine</a>.</p>

<!--
  <h3>{{ "about.build"|trans }}</h3>

  <p><em>Prochainement !</em></p>

  <h3>{{ "about.bot"|trans }}</h3>

  <p><em>Prochainement !</em></p>
  <a href="{{ bot_link }}" class="ui button green">{{ "about.bot.open"|trans }}</a>
-->

</div>
{% endblock %}