{% extends "base.html.twig" %}
{% set menu = 'archives' %}

{% block content %}

<div class="ui container">
  <h1>{{ "archives.title"|trans }} > {{ year }}</h1>

  {% for month in months %}
    <h2 id="{{ month.name }}">{{ month.name|capitalize }} {{ year }}</h2>

    <p>{% for track in month.tracks if track.artist %}{{ track.artist|capitalize }}, {% endfor %}{{ "archives.and.many.more"|trans }}</p>

    <p>
      <a href="{{ path('archives', {year: year, month: month.key}) }}" class="ui button teal"><i class="ui icon music"></i> {{ "archives.see.all.this.month"|trans}}</a>
      <span class="ui left labeled button">
        <span class="ui basic right pointing label">
          {{ "playlist.create.month"|trans}} 
        </span>
        <a href="{{ path('create_playlist', {provider: 'spotify', year: year, month: month.key}) }}?referer={{ path('archives', {year: year}) }}#{{ month.name }}" class="ui button spotify" style="border-radius: 0px">
          <i class="ui icon spotify"></i> Spotify
        </a>
        <a href="{{ path('create_playlist', {provider: 'deezer', year: year, month: month.key}) }}?referer={{ path('archives', {year: year}) }}#{{ month.name }}" class="ui button black">
          <i class="ui icon music"></i> Deezer
        </a>
      </span>
    </p>
    <div class="ui eight cards doubling">
      {% for track in month.tracks %}
      <div class="card">
        <div class="image">
          <img src="{{ track.image?:asset('img/album_placeholder.png') }}" onerror="this.src='{{ asset('img/album_placeholder.png') }}'">
        </div>
        <div class="content">
          <div class="header ellipsis">{{ track.title?:("unknown.title"|trans) }}</div>
          <div class="meta">
            <div class="artist ellipsis"><i class="user blue circle icon"></i> {{ track.artist?:("unknown.artist"|trans) }}</div>
            <div class="album ellipsis"><i class="music blue icon"></i> {{ track.album?:("unknown.album"|trans) }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}

</div>

{% endblock %}